#character-cards {
  width: 90%;
  min-height: 33vh;
  background-color: white;
  border-radius: 5px;
  margin: auto;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
